<!DOCTYPE html>

<html>
    <body>
        {% for r in ride %}
        <h2>Edit {{r[3]}}'s ride to {{r[2]}}!</h2>

        <form action="/edit/{{'%d' %r[0]}}/submit" method='post'>
            When are you going? <input type="date" value="{{r[1]}}" name = "date"> <br>
            At what time? <input type="time" value="{{r[2]}}" name="time"> <br>
            Where are you going? <input value="{{r[3]}}" name = "destination"> <br>
            Where are you leaving from? <input value="{{r[4]}}" name = "pickUpSpot"> <br>
            <br>
            <br>
            {% for passenger in passengers %}
                <input type="checkbox" name="removedPassenger" value="{{[passenger[3], passenger[0]]}}">{{passenger[1]}}: {{passenger[2]}}<br>
            {% endfor %}
            <input type="submit" value="Save changes">
        </form>
        <br>
        <br>
        <form action="/delete/{{'%d' %r[0]}}" method="post">
            <input type="submit" value="Delete Ride" />
        </form>
        {% endfor %}
    </body>
</html>
