<!DOCTYPE html>

<html>
    <body>
        {% for c in car %}
        <h2>Edit {{c[3]}}'s car to {{c[2]}}!</h2>

        <form action="/edit/{{'%d' %c[0]}}/submit" method='post'>
            <form action="/" method="post">
                When are you going? <input type="date" value="{{c[1]}}" name = "date"> <br>
                At what time? <input type="time" value="{{c[19]}}" name="time"> <br>
                Where are you going? <input value="{{c[2]}}" name = "destination"> <br>
                What is your phone number? <input value="{{c[4]}}" name = "phone"> <br>
                Where are you leaving from? <input value="{{c[5]}}" name = "location"> <br>
                <input type="submit" value="Save changes">
            </form>
            <form action="/delete/{{'%d' %c[0]}}" method="post">
                <input type="submit" value="Delete" />
            </form>
        {% endfor %}
    </body>
</html>
