<!DOCTYPE html>

<html>
    <body>
        <h1> Welcome to Hitch A Ride! <span style="color: grey;">(beta)</span></h1> 
        <table>
            <tr>
                <td>
                    <div style="border: 1px solid grey; float: left; padding: 5px;">
                        <h3>Riders, Find and join your ride:</h3>
                        <table>
                            <tr>
                                <th>Date:</th>
                                <th>Time:</th>
                                <th>Destination:</th>
                                <th>Pick Up Spot:</th>
                                <th>Driver Name:</th>
                                <th>Spots Open:</th>
                                <th></th>
                                <th></td>
                            </tr>
                            {% for ride in rides %}
                            <tr>
                                <td>{{ride[0][1]}}</td>
                                <td>{{ride[0][2]}}</td>
                                <td>{{ride[0][3]}}</td>
                                <td>{{ride[0][4]}}</td>
                                <td>{{ride[1][0][1]}}</td>
                                <td>{{ride[0][7]}}/{{ride[0][6]}}</td>
                                <td><form action="/join/{{'{0}'.format(ride[0][0])}}" method="post">
                                    <input type="submit" value="Join">
                                </form></td>
                                <td><form action="/details/{{'{0}'.format(ride[0][0])}}" method="post">
                                    <input type="submit" value="Details">
                                </form></td>
                            </tr>
                            <tr> 
                                <td colspan="15">
                                    <hr>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>     
                    </div> 
                </td> 
                <td>
                    <div style="border: 1px solid black;   padding: 5px;">
                        <h3>Drivers, Add your ride:</h3>
                        <form action="/" method="post">
                            When are you going? <input type="date" placeholder="Date of Trip" name = "date"> <br>
                            At what time? <input type="time" name="time"> <br>
                            Where are you going? <input placeholder="Park/Trail" name = "destination"> <br>
                            What is your name? <input placeholder="Driver's Name" name = "name"> <br>
                            What is your phone number? <input placeholder="Driver's phone" name = "phone"> <br>
                            Where are you leaving from? <input placeholder="pickUpSpot" name = "pickUpSpot"> <br>
                            How many people can fit in your car? <input type="number" placeholder="Number of passengers" name = "passengerNum"> <br>
                            Add a secret code: <input type="password" name="secretCode"> Note: Remember this! You'll need it to edit your ride later. If left blank, anyone can edit this ride.<br>
                            <input type="submit" value="Add Ride">
                        </form>
                    </div>
                </td> 
            </tr>
            <tr>
                <td>
                    <div style="border: 1px solid red; padding: 5px;">
                        <h3>Don't have a car? Add a request!</h3>
                        <form action="/createRequest" method="post">
                            When do you want to go? <input type="date" placeholder="Date of Trip" name = "date"> <br>
                            At what time? <input type="time" name="time"> <br>
                            Where do you want to go? <input placeholder="Park/Trail" name = "destination"> <br>
                            <!-- What is your name? <input placeholder="Your Name" name = "name"> <br>
                            What is your phone number? <input placeholder="Your phone" name = "phone"> <br> -->
                            Where do you want to leave from? <input placeholder="pickUpSpot" name = "pickUpSpot"> <br>
                            <input type="submit" value="Add Request">
                        </form>
                    </div>
                </td> 

                <td>
                    <div style="border: 1px solid green; float: left; padding: 5px;">
                        <h3>If you have a car, try picking up a request!</h3>
                        <table>
                            <tr>
                                <th>Date:</th>
                                <th>Time:</th>
                                <th>Destination:</th>
                                <th>Pick Up Spot:</th>
                                <th>Number of interested <br> People (*-1):</th>
                                <th></th>
                                <th></td>
                            </tr>
                            {% for request in requests %}
                            <tr>
                                <td>{{request[1]}}</td>
                                <td>{{request[2]}}</td>
                                <td>{{request[3]}}</td>
                                <td>{{request[4]}}</td>
                                <td>{{request[7]}}</td>
                                <td></td>
                                <td><form action="/join/{{'{0}'.format(request[0])}}" method="post">
                                    <input type="submit" value="I'm also interested!">
                                </form></td>
                                <td><form action="/driveRide/{{'{0}'.format(request[0])}}" method="post">
                                    <input type="submit" value="Drive this ride">
                                </form></td>
                            </tr>
                            <tr> 
                                <td colspan="15">
                                    <hr>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>     
                    </div> 
                </td> 
            </tr>
        </table>
    </body>
</html>