<!DOCTYPE html>
<html>
    <head>
        <style>
        body {background-color: lightblue;}
        h1   {color: blue;}
        p    {color: red;}
        td   {vertical-align: top; padding: 0px;}
        td div form table tr td {width: 50%; vertical-align: middle;}
        </style>
    </head>
    <body>
        <h1> Welcome to Hitch A Ride! <span style="color: grey; font-size: 15px;">(beta)</span></h1> 
        <table>
            <tr>
                <td style="width: 60%;">
                    <div style="float: left; padding: 5px; width: 100%; text-align: center;">
                        <h2><u>Upcomming Rides</u></h2>
                        <table style="width: 100%">
                            <tr>
                                <th>Date:</th>
                                <th>Time:</th>
                                <th>Destination:</th>
                                <th>Pick Up Spot:</th>
                                <th>Driver Name:</th>
                                <th>Spots Open:</th>
                                <th></th>
                                <th></td>
                            </tr>
                            {% for ride in rides %}
                            <tr>
                                <td>{{ride[0][1]}}</td>
                                <td>{{ride[0][2]}}</td>
                                <td>{{ride[0][3]}}</td>
                                <td>{{ride[0][4]}}</td>
                                <td>{{ride[1][0][1]}}</td>
                                <td>{{ride[0][7]}}/{{ride[0][6]}}</td>
                                <td><form action="/join/{{'{0}'.format(ride[0][0])}}" method="post">
                                    <input type="submit" value="Join">
                                </form></td>
                                <td><form action="/details/{{'{0}'.format(ride[0][0])}}" method="post">
                                    <input type="submit" value="Details">
                                </form></td>
                            </tr>
                            <tr> 
                                <td colspan="15">
                                    <hr>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>     
                    </div> 
                </td> 
                <td>
                    <div style="padding: 0px;">
                        <h2 style="text-align: center;"><u>Add a New Ride</u></h2>
                        <form action="/" method="post">
                            <table style="margin-left: 50px; margin-right: 50px;">
                                <tr>
                                    <td>When are you planning on going?</td>
                                    <td><input type="date" name = "date" required></td>
                                </tr>
                                <tr>
                                    <td>At what time?</td>
                                    <td><input type="time" name="time" required></td>
                                </tr>
                                <tr>
                                    <td>Where are you going?</td>
                                    <td><input placeholder="Park/Trail" name = "destination" required></td>
                                </tr>
                                <tr>
                                    <td>What is your name?</td>
                                    <td><input placeholder="Driver's Name" name = "name" required></td>
                                </tr>
                                <tr>
                                    <td>What is your phone number?</td>
                                    <td><input placeholder="Driver's phone" name = "phone" required></td>
                                </tr>
                                <tr>
                                    <td>Where are you leaving from?</td>
                                    <td><input placeholder="Meeting Location" name = "pickUpSpot" required></td>
                                </tr>
                                <tr>
                                    <td>How many people can fit in your car?</td>
                                    <td><input type="number" placeholder="Number of passengers" name = "passengerNum" required></td>
                                </tr>
                                <tr>
                                    <td>Add a secret code:</td>
                                    <td><input type="password" name="secretCode"> <span style="color: grey;">Note: Remember this! You'll need it to edit your ride later. If left blank, anyone can edit this ride.</span><br></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="margin-left: 50px;" type="submit" value="Add Ride">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td> 
            </tr>
        </table>
        <table>
            <tr>
                <td style="width: 40%;">
                    <div style="float: left; padding: 5px; width: 100%;">
                        <h2 style="text-align: center;"><u>Don't have a car? Add a request!</u></h2>
                        <form action="/createRequest" method="post">
                            <table style="margin-left: 30%; margin-right: 30%;">
                                <tr>
                                    <td>When do you want to go? </td>
                                    <td><input type="date" placeholder="Date of Trip" name = "date" required></td>
                                </tr>
                                <tr>
                                    <td>At what time?</td>
                                    <td><input type="time" name="time" required> <br></td>
                                </tr>
                                <tr>
                                    <td>Where do you want to go?</td>
                                    <td><input placeholder="Park/Trail" name = "destination" required></td>
                                </tr>
                                <tr>
                                    <td>Where do you want to leave from?</td>
                                    <td><input placeholder="pickUpSpot" name = "pickUpSpot" required></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="margin-left: 30px;" type="submit" value="Add Request">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td> 
                <td style="width: 40%;">
                        <div style="float: right; padding: 5px; width: 100%; text-align: center;">
                            <h2><u>Pending Requests</u></h2>
                            <table style="width: 100%">
                            <tr>
                                <th>Date:</th>
                                <th>Time:</th>
                                <th>Destination:</th>
                                <th>Pick Up Spot:</th>
                                <th>Number of interested <br> People (*-1):</th>
                                <th></th>
                                <th></td>
                            </tr>
                            {% for request in requests %}
                            <tr>
                                <td>{{request[1]}}</td>
                                <td>{{request[2]}}</td>
                                <td>{{request[3]}}</td>
                                <td>{{request[4]}}</td>
                                <td>{{request[7]}}</td>
                                <td></td>
                                <td><form action="/join/{{'{0}'.format(request[0])}}" method="post">
                                    <input type="submit" value="I'm also interested!">
                                </form></td>
                                <td><form action="/driveRide/{{'{0}'.format(request[0])}}" method="post">
                                    <input type="submit" value="Drive this ride">
                                </form></td>
                            </tr>
                            <tr> 
                                <td colspan="15">
                                    <hr>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>     
                    </div> 
                </td> 
            </tr>
        </table>
        <h2 style="text-align: center; margin-top: 100px;"><u>FAQ:</u></h2>
        <table>
            <tr>
                <th>What is this?</th>
                <th>What do I do with it?</th>
                <th>I'm a rider, can I leave a ride I joined? </th>
                <th>I'm a driver, how do I edit or cancel a ride? </th>
                <th>Can I help make it better?</th>
            </tr>
            <tr>
                <td style="width: 17%">Hitch A Ride is a simple webapp for matching drivers with riders. If you don't have a car, join one of the rides listed above, or create a request for a ride to a hike you want to do. Hopefully, someone with a car will be open to driving with you there. </td>
                <td style="width: 17%">If you have a car, let people know where you are driving to go hiking. People without cars can join your ride and you'll get to meet some awesome hiking partners! <br> If you don't have a car, join a ride or create a request. </td>
                <td style="width: 17%">Your driver can! Just ask them to remove you from the ride. Drivers, you can remove someone from a ride in the edit section.</td>
                <td style="width: 17%">Click on Details > Edit to edit your ride. You'll need your secret code to access the edit page.</td>
                <td style="width: 17%">YES!! This project is open source and you are welcome to help out! Checkout the link to the source code below. </td>
            </tr>
        </table>
        <footer style="text-align: center; margin-top: 50px;">
                <form action="/privacy" method='post'>
                    <input type="submit" value="Privacy Policy">
                </form>
            <a href="https://github.com/mes258/hitchARide/issues/new">Report a Bug</a> | 
            <a href="https://github.com/mes258/hitchARide/">Source Code</a>
        </footer> 
    </body>
</html>