<h1>Hitch A Ride's Privacy Policy</h1>
<p>We care about your privacy, so we don't use any trackers of any kind. We also want to be clear about how we used the data you gave us.</p>
<h2>Ride data:</h2>
<p>The ride driver can delete the ride at anytime. This deletes the ride and all associated passengers from our databases. The day after a ride is scheduled to depart, it is automatically deleted as well.</p>
<h2>Personal Data (name, phone)</h2>
<p>Your personal data is only used to make communiticaiton between everyone in your ride easier. We delete all passenger data when a ride is deleted (see above). <br> Your phone number is only used for this site, it is not sold or shared with anyone (outside of the users of this site) without your knowledge.</p>
<h2>Secret Codes</h2>
<p>Secret Codes are used to ensure only the driver can modify a ride.</p>

<form action="/" method="GET">
    <td><input type="submit" value="Back to main page"></td>
</form>