<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hitch a Ride</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="index.html">Hitch A Ride</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="viewRides.html">View Rides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="drivers.html">Add a Ride</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="riders.html">Join a Ride</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="privacy.html">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faq.html">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>All Rides</h1>

      <section>
        <h3>Ride Requests</h3>
        <table class="table table-striped table-hover">
            <thead>
              <th>Destination</th>
              <th>Date</th>
              <th>Time</th>
              <th>Pick Up Spot</th>
              <th>People Interested</th>
              <th></th>
            </thead>
            {% for ride in rides %}
            <tr>
              <td>{{request[3]}}</td>
              <td>{{request[1]}}</td>
              <td>{{request[2]}}</td>
              <td>{{request[4]}}</td>
              <td>{{request[7]}}</td>
              <td>
                <form action="/driveRide/{{'{0}'.format(request[0])}}" method="post">
                    <input class="btn btn-secnd" type="submit" value="Drive this ride">
                </form>
              </td>
            </tr>
            {% endfor %}
        </table>
      </section>

      <section>
        <h3>Join a Ride</h3>
        <table class="table table-striped table-hover">
            <thead>
              <th>Destination</th>
              <th>Date</th>
              <th>Time</th>
              <th>Pick Up Spot</th>
              <th>Driver Name</th>
              <th>Spots Open</th>
              <th></th>
              <th></th>
            </thead>
            {% for ride in rides %}
            <tr>
              <td>{{ride[0][3]}}</td>
              <td>{{ride[0][1]}}</td>
              <td>{{ride[0][2]}}</td>
              <td>{{ride[0][4]}}</td>
              <td>{{ride[1][0][1]}}</td>
              <td>{{ride[0][7]}}/{{ride[0][6]}}</td>
              <td>
                <form action="/join/{{'{0}'.format(ride[0][0])}}" method="post">
                  <input class="btn btn-secnd" type="submit" value="Join">
                </form>
              </td>
              <td>
                <form action="/details/{{'{0}'.format(ride[0][0])}}" method="post">
                  <input class="btn btn-secnd" type="submit" value="Details">
                </form>
              </td>
            </tr>
            {% endfor %}
        </table>
      </section>
    </div>
  </body>
</html>
